<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Supabase/HTTP calls cần INTERNET permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Bus"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.SignupSuccessActivity"
            android:exported="false" />

        <activity
            android:name=".SupabaseCrudTestActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".SignupSuccessActivity" />

        <activity android:name=".HomeActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".SeatSelectionActivity" />
        <activity android:name=".BoardingDropActivity" />
        <activity android:name=".GuestDetailsActivity" />

        <activity android:name=".PaymentActivity" />
        <activity android:name=".PaymentSuccessActivity" />



    </application>

</manifest>